@use '../base/mixins' as m;
@use '../base/variables' as v;

.tienda {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__grid{
        @include m.grid(2, 2rem);

    }
    &__heading, &__texto{
        text-align: center;
        color: v.$secundario;
    }

    &__heading {
        font-size: 3.6rem;
        margin: 2rem 0 0 0;
    }

    &__texto{
        margin: 1rem 0 3rem 0;
    }

    &__enlace{
        transition-property: transform;
        transform: duration(900ms);
        &:hover{
            transform: scale(1.1);
        }
    }
}