@use '../base/variables' as v;
@use '../base/mixins' as m;

.repartidores {
    background-color: v.$blanco;
    padding: v.$separacion 0;

    &__heading {
        text-align: center;
        color: v.$secundario;
        font-size: 1.8rem;
    }

    &__grid {
        @include m.tablet {
            @include m.grid(2, 3rem) //2 Columnas 4rem separacion
        }
    }

    &__contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__imagen {
        border-radius: 1rem;
    }
    &__texto{
        line-height: 1.5;
        color: v.$secundario;
    }
    &__enlace{
        @include m.boton(v.$primario, v.$blanco);
        width: auto;

    }


}