@use '../base/variables' as v;
@use '../base/mixins' as m;

.repartidores {
    background-color: v.$blanco;
    padding: v.$separacion 0;

    &__heading {
        text-align: center;
        color: v.$secundario;

    }

    &__grid {
        @include m.tablet {
            @include m.grid(2, 3rem) //2 Columnas 4rem separacion
        }
    }

    &__imagen {}
}